*{
    margin: 0;
    padding: 0;
}
body{
margin: 0;
padding: 0;
background-color:brown;
background-image: url("../assets/img/voluntarios/1.jpeg");
background-size: cover;

}

.container-form{
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    background: linear-gradient(to right, rgb(235, 235, 247), rgb(233, 238, 231));
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
.box-genero{
    text-align: center;
    padding-top: 10px;
}
.form-group{
    margin-bottom: 12px;
}
.box-edad{
    /* width: 30%; */
}
#mensaje {
    display: none;
    color: green;
    font-weight: bold;
}
footer{
    bottom: 0;
    width: 100%;
    height: auto;
    /* position: fixed; */
}